h1.title {
  font-size: 32pt;
  text-align: center;
  font-family: "Baskerville";
  font-variant: small-caps;
  font-weight: lighter;
}

#content {
  display: inline-block;
  left: calc(100% / 3 - 100% / 6);
  width: calc(100% * 2 / 3);
  font-family: "Times New Roman";
  font-weight: normal;
}

body {
  background-color: #FFF0FF;
}

a {
  text-decoration: none;
}
a:link, a:active {
  color: #1042EC;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: purple;
}
a.sidebarlink {
  color: black;
  text-decoration: none;
}
a.sidebarlink:hover {
  font-weight: bold;
}

#navdiv {
  float: left;
  padding: 0;
  width: calc(100% / 3 - 100% / 6);
  text-align: center;
}

ul.sidebarlist {
  list-style-type: none;
  padding: 0;
}
ul.sidebarlist li a p {
  margin: 16px 0;
}

img#portrait {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  float: left;
}

p.code {
  background-color: black;
  color: white;
  font-family: monospace;
}
p.centered {
  text-align: center;
}

span.code {
  background-color: black;
  color: limegreen;
  font-family: monospace;
  padding: 0 3px;
}
span.red {
  color: red;
}
span.blue {
  color: blue;
}

#problemPage {
  counter-reset: probCounter;
}

ol#problems {
  padding-inline-start: 1em;
  padding-inline-end: 1em;
}
ol#problems li {
  margin: 1em 0;
}
ol#problems li p {
  margin: 0.5em 0;
}

#schemeCode {
  border-width: thin;
  outline: none;
  font-family: monospace, monospace;
  font-kerning: none;
}

h3.subsection {
  font-size: 1em;
}

h4 {
  text-align: center;
  font-weight: normal;
}

p.centered {
  text-align: center;
}

ol {
  padding-left: 16px;
}
ol li {
  margin: 10px 0;
}

#befunge1 #content {
  font-weight: 400;
  font-family: Arial, sans-serif;
}

#display {
  width: 100%;
  padding: 0;
}
#display #befungeDisplay {
  height: 200px;
}
#display #befungeStack {
  height: 60px;
  line-height: 30px;
  border-top: 0;
}

#befungeCodeWrapper {
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0;
}

button {
  font-size: 12pt;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  border-radius: 20px;
  border: 0;
}
button#runButton {
  background-color: #66e2b3;
}
button#displayButton {
  background-color: #dea3ff;
}
button#pauseButton {
  background-color: #fabdfc;
}
button#stepButton {
  background-color: #ffc268;
}

span.borderedChar {
  display: inline-block;
  outline: 1px solid black;
  outline-offset: -1px;
}
span.borderedCharDarkMode {
  display: inline-block;
  outline: 1px solid white;
  outline-offset: -1px;
}
span.rightAligned {
  float: right;
  text-align: right;
}
span#exampleToggler {
  color: #1042EC;
}
span#exampleToggler:hover {
  cursor: pointer;
  text-decoration: underline;
}

textarea {
  font-size: 12pt;
  border-style: solid;
  border-width: thin;
  outline: none;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  resize: vertical;
  font-family: monospace, monospace;
  font-kerning: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.codeOutput {
  font-size: 12pt;
  border-style: solid;
  border-width: thin;
  outline: none;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  resize: vertical;
  font-family: monospace, monospace;
  font-kerning: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0;
  background-color: white;
}
.codeOutput:hover {
  cursor: default;
}

.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

#befungeOutput {
  height: 400px;
}

input[type=number] {
  width: 40px;
  outline: none;
  border: none;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.commandTable {
  border-collapse: collapse;
  width: 100%;
}
.commandTable tr th {
  font-weight: normal;
  padding: 10px;
  background-color: lightgray;
}
.commandTable tr td {
  padding: 5px;
}
.commandTable tr th, .commandTable tr td {
  border-style: solid;
  border-width: thin;
}

#buttonTable {
  width: 100%;
  table-layout: fixed;
}
#buttonTable tr td {
  text-align: center;
}

#exampleTable {
  width: 100%;
  border-collapse: collapse;
}
#exampleTable tr td {
  font-size: 12pt;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  border-style: solid;
  background-color: #eeeeee;
  border-width: thin;
}
#exampleTable tr td:hover {
  cursor: pointer;
}

/*# sourceMappingURL=befunge.css.map */
