@import "../style.scss";

@mixin bothLoaders() {
  border: 16px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: sticky;
  margin: 0;
  left: calc(50% - 76px);
}

div {
  &.loader {
    @include bothLoaders();
    border-top: 16px solid #3498db; /* Blue */
    animation: spin 2s linear infinite;
  }
  &.fakeloader {
    @include bothLoaders();
  }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div#loading_space {
  text-align: center;
}

table#chomp_table {
  background-color: black;
  border-collapse: separate;
  border: 5px black;
  margin: auto;
  width: auto;

  td {
    width: 75px;
    height: 75px;
    border: black;
  }
}

@mixin bothButtons() {
  background: {
    color: black;
    size: 75px 75px;
    repeat: no-repeat;
  }
  border: none;
  cursor: pointer;
  width:75px;
  height:75px;
  float:left;
  outline: 0;
}

button {
  &.chomp_button {
    &,
    &:active,
    &:hover,
    &:visited {
      @include bothButtons();
      background: {
        image: url("/images/chocobar.jpg");
        position: 0px 0px;
      }
    }
  }

  &.poison_button {
    @include bothButtons();
    background: {
      image: url("/images/sans1.png"), url("/images/chocobar.jpg");
      position: 0px 4px, 0px 0px;
    }
  }
}
