h1.title {
  font-size: 32pt;
  text-align: center;
  font-family: "Baskerville";
  font-variant: small-caps;
  font-weight: lighter;
}

#content {
  display: inline-block;
  left: calc(100% / 3 - 100% / 6);
  width: calc(100% * 2 / 3);
  font-family: "Times New Roman";
  font-weight: normal;
}

body {
  background-color: #FFF0FF;
}

a {
  text-decoration: none;
}
a:link, a:active {
  color: #1042EC;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: purple;
}
a.sidebarlink {
  color: black;
  text-decoration: none;
}
a.sidebarlink:hover {
  font-weight: bold;
}

#navdiv {
  float: left;
  padding: 0;
  width: calc(100% / 3 - 100% / 6);
  text-align: center;
}

ul.sidebarlist {
  list-style-type: none;
  padding: 0;
}
ul.sidebarlist li a p {
  margin: 16px 0;
}
ul.mathList li {
  padding-bottom: 0.75em;
  list-style-type: circle;
}

img#portrait {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  float: left;
}

p.code {
  background-color: black;
  color: white;
  font-family: monospace;
}
p.centered {
  text-align: center;
}

span.code {
  background-color: black;
  color: limegreen;
  font-family: monospace;
  padding: 0 3px;
}
span.red {
  color: red;
}
span.blue {
  color: blue;
}

#problemPage {
  counter-reset: probCounter;
}

ol#problems {
  padding-inline-start: 1em;
  padding-inline-end: 1em;
}
ol#problems li {
  margin: 1em 0;
}
ol#problems li p {
  margin: 0.5em 0;
}

#schemeCode {
  border-width: thin;
  outline: none;
  font-family: monospace, monospace;
  font-kerning: none;
}

div.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  left: calc(50% - 60px);
  border-top: 16px solid #3498db;
  /* Blue */
  animation: spin 2s linear infinite;
}
div.fakeloader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  left: calc(50% - 60px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
div#loading_space {
  text-align: center;
}

table#chomp_table {
  background-color: black;
  border-collapse: separate;
  border: 5px black;
  margin: auto;
}
table#chomp_table td {
  width: 75px;
  height: 75px;
  border: black;
}

button.chomp_button, button.chomp_button:active, button.chomp_button:hover, button.chomp_button:visited {
  background-color: black;
  background-size: 75px 75px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 75px;
  height: 75px;
  float: left;
  outline: 0;
  background-image: url("/photos/chocobar.jpg");
  background-position: 0px 0px;
}
button.poison_button {
  background-color: black;
  background-size: 75px 75px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 75px;
  height: 75px;
  float: left;
  outline: 0;
  background-image: url("/photos/sans1.png"), url("/photos/chocobar.jpg");
  background-position: 0px 4px, 0px 0px;
}

/*# sourceMappingURL=chomp.css.map */
