* {
  padding: 0;
  margin: 0;
}

canvas {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

body{
  overflow:hidden;
  font-family: sans-serif;
  background: black;
}

/*******************/
/*   Input boxes   */
/*******************/
$input-margin: 0.5em;
$border-radius: 5px;
$inputDiv-height: 1em;

@mixin inputDivFormat() {
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: $border-radius;
  height: $inputDiv-height;
  overflow-x: visible;
  overflow-y: visible;
  margin: $input-margin;
  padding-top: $input-margin;
  padding-bottom: .7em;
  padding-left: $input-margin;
  padding-right: $input-margin;
  position: sticky;
  float: left;
}

@mixin inputFormat() {
  font-size: 12pt;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: auto;
  resize: none;
  font-family: monospace, monospace;
  font-kerning: none;
}

@mixin rectangleFormat() {
  background-color: black;
  padding: 0;
  float: left;
  border-radius: 0;
  margin: 0;
  position: absolute;
}

@mixin ease-in-out($time) {
  -moz-transition: all $time ease-in-out 0s;
  -webkit-transition: all $time ease-in-out 0s;
  -ms-transition: all $time ease-in-out 0s;
  transition: all $time ease-in-out 0s;
}

@mixin hoverTextFormat {
  border-radius: 5px;
  opacity: 0;
  width: 100%;
  left: 0;
  height: $inputDiv-height;
  padding-top: $input-margin;
  padding-bottom: $input-margin;
  top: 100%;
  color: black;
  text-align: center;
  background-color: lightgrey;
  position: absolute;
  @include ease-in-out(0.75s);
}

// Input formatting
div#allInputDiv {
  div {
    &::-webkit-scrollbar {
      display: none;
    }

    &.input {
      @include inputDivFormat();
      & textarea {
        @include inputFormat();
        &::-webkit-scrollbar {
          display: none;
        }
      }
      &#inputDiv {
        width: 240pt;
      }
      &#widthDiv, &#heightDiv {
        width: 60pt;
      }
      &#centerDiv {
        width: 100pt;
      }

      span.hoverText {
        @include hoverTextFormat();
      }
      &:hover span.hoverText {
        opacity: .9;
        &:hover {
          opacity: 0;
        }
      }
    }

    &#plusMinusDiv {
      float: right;
      $inner-size: 1.4em;
      $inner-padding: 0.4em;

      div.input {
        float: left;
        padding: $inner-padding;
        width: $inner-size;
        height: $inner-size;
        margin-left: 0;
        margin-right: 2*$input-margin;

        $short-side: 0.25em;
        //Horizontal line
        div.horiz {
          @include rectangleFormat();
          height: $short-side;
          width: $inner-size + $inner-padding;
          margin-top: $inner-size / 2 - $short-side / 2;
          margin-left: -$inner-padding / 2;
        }
        //Vertical line
        div.vert {
          @include rectangleFormat();
          width: $short-side;
          height: $inner-size + $inner-padding;
          margin-left: $inner-size / 2 - $short-side / 2;
          margin-top: -$inner-padding / 2;
        }

        &#originDiv {
          background-image: url('/images/mathcalO.webp');
          background-size: $inner-size+$inner-padding;
          background-position: center;
          background-repeat: no-repeat;
        }

        &#chevronDiv {
          background-image: url('/images/chevronne.webp');
          background-size: $inner-size+$inner-padding;
          background-position: center;
          background-repeat: no-repeat;
          &.upsidedown {
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
          }
        }

      }

      div#menuBox {
        div.input {
          background-size: $inner-size+$inner-padding;
          background-position: center;
          background-repeat: no-repeat;

          &#infoButt {
            background-image: url('/images/i.webp');
          }
          &#copyButt {
            background-image: url('/images/link.webp');
          }
          &#ARButton {
            background-image: url('/images/lockAspectRatio.webp');
          }
          &#rslnButt {
            background-image: url('/images/magnifier.webp');
          }
        }
      }
    }
  }
}

div#errorDiv {
  @include inputDivFormat();
  float: none;
  padding: 0;
  position: absolute;
  color: black;
  bottom: 0;
  width: 75%;
  height: $inputDiv-height + $input-margin;
  margin-left: 12.5%;
  text-align: center;
  text-shadow: 1px 1px 2px lightgrey;
  font-size-adjust: auto;
  opacity: 0;
  @include ease-in-out(2s);
  &.visible {
    opacity: 1;
    @include ease-in-out(0s);
  }
  &.notAnError {
    background-color: lightgrey;
  }
  &.anError {
    background-color: yellow;
  }
}
