* {
  padding: 0;
  margin: 0;
}

canvas {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  background: black;
}

/*******************/
/*   Input boxes   */
/*******************/
div#allInputDiv div::-webkit-scrollbar {
  display: none;
}
div#allInputDiv div.input {
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
  height: 1em;
  overflow-x: visible;
  overflow-y: visible;
  margin: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: sticky;
  float: left;
}
div#allInputDiv div.input textarea {
  font-size: 12pt;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: auto;
  resize: none;
  font-family: monospace, monospace;
  font-kerning: none;
}
div#allInputDiv div.input textarea::-webkit-scrollbar {
  display: none;
}
div#allInputDiv div.input#inputDiv {
  width: 240pt;
}
div#allInputDiv div.input#widthDiv, div#allInputDiv div.input#heightDiv {
  width: 60pt;
}
div#allInputDiv div.input#centerDiv {
  width: 100pt;
}
div#allInputDiv div.input span.hoverText {
  border-radius: 5px;
  opacity: 0;
  width: 100%;
  left: 0;
  height: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  top: 100%;
  color: black;
  text-align: center;
  background-color: lightgrey;
  position: absolute;
  -moz-transition: all 0.75s ease-in-out 0s;
  -webkit-transition: all 0.75s ease-in-out 0s;
  -ms-transition: all 0.75s ease-in-out 0s;
  transition: all 0.75s ease-in-out 0s;
}
div#allInputDiv div.input:hover span.hoverText {
  opacity: 0.9;
}
div#allInputDiv div.input:hover span.hoverText:hover {
  opacity: 0;
}
div#allInputDiv div#plusMinusDiv {
  float: right;
}
div#allInputDiv div#plusMinusDiv div.input {
  float: left;
  padding: 0.4em;
  width: 1.4em;
  height: 1.4em;
  margin-left: 0;
  margin-right: 1em;
}
div#allInputDiv div#plusMinusDiv div.input div.horiz {
  background-color: black;
  padding: 0;
  float: left;
  border-radius: 0;
  margin: 0;
  position: absolute;
  height: 0.25em;
  width: 1.8em;
  margin-top: 0.575em;
  margin-left: -0.2em;
}
div#allInputDiv div#plusMinusDiv div.input div.vert {
  background-color: black;
  padding: 0;
  float: left;
  border-radius: 0;
  margin: 0;
  position: absolute;
  width: 0.25em;
  height: 1.8em;
  margin-left: 0.575em;
  margin-top: -0.2em;
}
div#allInputDiv div#plusMinusDiv div.input#originDiv {
  background-image: url("/images/mathcalO.webp");
  background-size: 1.8em;
  background-position: center;
  background-repeat: no-repeat;
}
div#allInputDiv div#plusMinusDiv div.input#chevronDiv {
  background-image: url("/images/chevronne.webp");
  background-size: 1.8em;
  background-position: center;
  background-repeat: no-repeat;
}
div#allInputDiv div#plusMinusDiv div.input#chevronDiv.upsidedown {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
div#allInputDiv div#plusMinusDiv div#menuBox div.input {
  background-size: 1.8em;
  background-position: center;
  background-repeat: no-repeat;
}
div#allInputDiv div#plusMinusDiv div#menuBox div.input#infoButt {
  background-image: url("/images/i.webp");
}
div#allInputDiv div#plusMinusDiv div#menuBox div.input#copyButt {
  background-image: url("/images/link.webp");
}
div#allInputDiv div#plusMinusDiv div#menuBox div.input#ARButton {
  background-image: url("/images/lockAspectRatio.webp");
}
div#allInputDiv div#plusMinusDiv div#menuBox div.input#rslnButt {
  background-image: url("/images/magnifier.webp");
}

div#errorDiv {
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
  height: 1em;
  overflow-x: visible;
  overflow-y: visible;
  margin: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: sticky;
  float: left;
  float: none;
  padding: 0;
  position: absolute;
  color: black;
  bottom: 0;
  width: 75%;
  height: 1.5em;
  margin-left: 12.5%;
  text-align: center;
  text-shadow: 1px 1px 2px lightgrey;
  font-size-adjust: auto;
  opacity: 0;
  -moz-transition: all 2s ease-in-out 0s;
  -webkit-transition: all 2s ease-in-out 0s;
  -ms-transition: all 2s ease-in-out 0s;
  transition: all 2s ease-in-out 0s;
}
div#errorDiv.visible {
  opacity: 1;
  -moz-transition: all 0s ease-in-out 0s;
  -webkit-transition: all 0s ease-in-out 0s;
  -ms-transition: all 0s ease-in-out 0s;
  transition: all 0s ease-in-out 0s;
}
div#errorDiv.notAnError {
  background-color: lightgrey;
}
div#errorDiv.anError {
  background-color: yellow;
}

/*# sourceMappingURL=complex.css.map */
