* { padding: 0; margin: 0; }
canvas {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index: -1;
}

body{
  overflow:hidden;
  overscroll-behavior-x: none;
}

textarea#input {
  font-size: 12pt;
  border-style: solid;
  border-width: thin;
  outline: none;
  width: inherit;
  white-space: nowrap;
  overflow-x: visible;
  overflow-y: hidden;
  font-family: monospace, monospace;
  font-kerning: none;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .5em;
  padding-bottom: .7em;
  resize: none;
  margin-left: 5px;
  
  &::-webkit-scrollbar {
   display: none;
  }
}
