* { padding: 0; margin: 0; }
canvas {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index: -1;
}

body{
  overflow:hidden;
  overscroll-behavior-x: none;
  font-family: sans-serif;
}

@mixin inputDivFormat() {
  background: white;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
  height: 1em;
  overflow-x: visible;
  overflow-y: visible;
  margin: .5em;
  padding-top: .5em;
  padding-bottom: .7em;

  position: sticky;
  float: left;
}

@mixin inputFormat() {
  font-size: 12pt;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: auto;
  resize: none;
  font-family: monospace, monospace;
  font-kerning: none;
}

div {
  &#inputDiv, &#widthDiv, &#heightDiv {
    @include inputDivFormat();
    & textarea {
      @include inputFormat();
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &:hover span.hoverText {
      opacity: .9;
      &:hover {
        opacity: 0;
      }
    }
  }

  &#inputDiv {
    // 20 chars
    width: 240pt;
    padding-left: 0.5em;
    padding-right: 0.5em;
    & .hoverText {
      margin-left: -0.5em;
      margin-right: -0.5em;
    }
  }
  &#widthDiv, &#heightDiv {
    // 5 chars
    width: 60pt;
    margin-left: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    & .hoverText {
      margin-left: -0.25em;
      margin-right: -0.25em;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  & span.hoverText {
    border-radius: 5px;
    opacity: 0;
    width: 100%;
    top: 100%;
    color: black;
    text-align: center;
    padding: 0 0;
    background-color: lightgrey;

    position: absolute;
    z-index: 100;

    -moz-transition: all 0.4s ease-in-out 0s;
  	-webkit-transition: all 0.4s ease-in-out 0s;
  	-ms-transition: all 0.4s ease-in-out 0s;
  	transition: all 0.4s ease-in-out 0s;
  }
}
