h1.title {
  font-size: 32pt;
  text-align: center;
  font-variant: small-caps;
  font-weight: lighter;
}

#content {
  display: inline-block;
  margin-left: calc(100% / 6 - 100% / 12);
  width: calc(100% * 5 / 6);
}

body {
  background-color: #FFF0FF;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
a:link, a:active {
  color: #1042EC;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: purple;
}
a.sidebarlink {
  color: black;
  text-decoration: none;
}
a.sidebarlink:hover {
  font-weight: bold;
}

ul.sidebarlist {
  list-style-type: none;
  padding: 0;
}
ul.sidebarlist li a p {
  margin: 16px 0;
}

button {
  font-size: 12pt;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  border-radius: 20px;
  border-style: ridge;
  border-width: medium;
}
button:active {
  background-color: grey;
}

span.borderedChar {
  display: inline-block;
  outline: 1px solid black;
  outline-offset: -1px;
}
span.borderedCharDarkMode {
  display: inline-block;
  outline: 1px solid white;
  outline-offset: -1px;
}
span.rightAligned {
  float: right;
  text-align: right;
}
span#exampleToggler {
  color: #1042EC;
}
span#exampleToggler:hover {
  cursor: pointer;
  text-decoration: underline;
}

textarea {
  font-size: 12pt;
  border-style: solid;
  border-width: thin;
  border-color: black;
  outline: none;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  resize: vertical;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  padding: .5em;
}

div#output {
  font-size: 12pt;
  border-style: solid;
  border-width: thin;
  outline: none;
  padding: .5em;
  width: 100%;
  /* height: 200px; */
  white-space: normal;
  overflow-y: auto;
  resize: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
