h1.title {
  font-size: 32pt;
  text-align: center;
  font-family: "Baskerville";
  font-variant: small-caps;
  font-weight: lighter;
}


#content {
  /*position: sticky;*/
  display: inline-block;
  left: calc(100% / 3 - 100% / 6);
  width: calc(100% * 2 / 3);
  font-family: "Times New Roman";
  font-weight: normal;
}

body {
  background-color: #FFF0FF;
}

a.textlink:link, a.textlink:active  {
  color: #1042EC;
  text-decoration: none;
}

a.textlink:hover {
  text-decoration: underline;
}

a.textlink:visited {
  color: purple;
  text-decoration: none;
}

a.sidebarlink:link, a.sidebarlink:visited, a.sidebarlink:active  {
  color: black;
  text-decoration: none;
}

a.sidebarlink:hover {
  font-weight: bold;
}

p.eqn {
  text-align: center;
}

#navdiv {
  float: left;
  padding: auto;
  width: calc(100% / 3 - 100% / 6);
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

ol {
  padding-left: 16px;
}

ol li {
  margin: 10px 0;
}

#portrait {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  float: left;
}

p.code {
  background-color: black;
  color: white;
  font-family: monospace;
}

/*
* Styles for chomp.html
*/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    text-align: center;
    position:relative;
    left: calc(50% - 60px);
}
.fakeloader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position:relative;
  left: calc(50% - 60px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading_space {
  text-align: center;
}
#loadingGif {
  width: 120px;/* 20vw; */
}

#chomp_table {
  background-color: black;
  border-collapse: separate;
  border: 5px black;
  margin: auto;
}

#chomp_table tbody tr td {
  width: 75px;
  height: 75px;
  float:center;
  border: black;
}

button.chomp_button, button.chomp_button:active, button.chomp_button:hover, button.chomp_button:visited {
  background-color: black;
  background-image: url("/photos/chocobar.jpg");
  background-size: 75px 75px;
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: 0px 0px;  /* equivalent to 'top left' */
  border: none;
  width:75px;
  height:75px;
  float:left;
  outline: 0;
  cursor: pointer;
}

button.poison_button {
  background-color: black;
  background-image: url("/photos/sans1.png"), url("../photos/chocobar.jpg");
  background-size: 75px, 75px 75px;
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 4px, 0px 0px;
  border: none;           /* assuming we don't want any borders */
  cursor: pointer;        /* make the cursor like hovering over an <a> element */
  width: 75px;
  height: 75px;
  float:left;
  outline:0;
}

#problemPage {
    counter-reset: probCounter;
}

p.prob::before {
    counter-increment: probCounter;
    content: counter(probCounter) ". ";
}

p.prob {
    margin-top: 2em;
}

#schemeCode {
    border-width: thin;
    outline: none;
    font-family: monospace, monospace;
    font-kerning: none;
}

textarea.codeInput {
  font-size: 12pt;
  width: 100%;
  border-width: thin;
  outline: none;
  font-family: monospace, monospace;
  font-kerning: none;
  position: relative;
  margin: auto;
  white-space: nowrap;
  overflow: auto;
  resize: vertical;
}

#befungeCodeWrapper {
  margin-right: 5px;
  padding: 0 0;
}

button.befungeButton {
  font-size: 12pt;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  border-radius: 20px;
}

span.befungeText {
  font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12pt;
    line-height: normal;
    font-family: system-ui;
}

#runButton {
  background-color: #66e2b3;
}
#displayButton {
  background-color: #dea3ff;
}
#pauseButton {
  background-color: #fabdfc;
}
#stepButton {
  background-color: #ffc268;
}

.codeOutput {
  font-size: 12pt;
  font-family: monospace, monospace;
  margin: none;
  padding: none;
  border-style: solid;
  border-width: thin;
  break-inside: all;
  white-space: nowrap;
  overflow: auto;
  outline: none;
  width: 100%;
  background-color: white;
}

.codeOutput:hover {
  cursor: default;
}

#display {
  width: 100%;
  padding: 0;
}

#befungeDisplay {
  height: 200px;
  resize: vertical;
}

#befungeStack {
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
  resize: none;
}

#befungeOutput {
  height: 200px;
  overflow-x: scroll;
}

input[type="number"] {
    width: 40px;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#commandTable tr th, #commandTable tr td {
  border-style: solid;
  border-width: thin;
}

#commandTable tr td {
  padding: 5px;
}

#commandTable tr th {
  padding: 10px;
}

#commandTable {
  border-collapse: collapse;
  width: 100%;
}

h4 {
  text-align: center;
  font-weight: normal;
}

#buttonTable {
  width: 100%;
  table-layout: fixed;
}

#buttonTable tr td {
  text-align: center;
}
