h1.title {
  font-size: 32pt;
  text-align: center;
  font-family: "Baskerville";
  font-variant: small-caps;
  font-weight: lighter;
}

h3.subsection {
  font-size: 1em;
}

#content {
  /*position: sticky;*/
  display: inline-block;
  left: calc(100% / 3 - 100% / 6);
  width: calc(100% * 2 / 3);
  font-family: "Times New Roman";
  font-weight: normal;
}

body {
  background-color: #FFF0FF;
}

a.textlink:link, a.textlink:active  {
  color: #1042EC;
  text-decoration: none;
}

a.textlink:hover {
  text-decoration: underline;
}

a.textlink:visited {
  color: purple;
  text-decoration: none;
}

a.sidebarlink:link, a.sidebarlink:visited, a.sidebarlink:active  {
  color: black;
  text-decoration: none;
}

a.sidebarlink:hover {
  font-weight: bold;
}

p.eqn {
  text-align: center;
}

#navdiv {
  float: left;
  padding: auto;
  width: calc(100% / 3 - 100% / 6);
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

ol {
  padding-left: 16px;
}

ol li {
  margin: 10px 0;
}

textarea.codeInput {
  font-size: 12pt;
  width: 100%;
  border-width: thin;
  outline: none;
  font-family: monospace, monospace;
  font-kerning: none;
  position: relative;
  margin: auto;
  white-space: nowrap;
  overflow: auto;
  resize: vertical;
}

#befungeCodeWrapper {
  margin-right: 5px;
  padding: 0 0;
}

button.befungeButton {
  font-size: 12pt;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  border-radius: 20px;
}

span.befungeText {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 12pt;
  line-height: normal;
  font-family: system-ui;
}

#runButton {
  background-color: #66e2b3;
}
#displayButton {
  background-color: #dea3ff;
}
#pauseButton {
  background-color: #fabdfc;
}
#stepButton {
  background-color: #ffc268;
}

.codeOutput {
  font-size: 12pt;
  font-family: monospace, monospace;
  margin: 0 0;
  padding: 0 0;
  border-style: solid;
  border-width: thin;
  break-inside: all;
  white-space: nowrap;
  overflow: auto;
  outline: none;
  width: 100%;
  background-color: white;
}

.codeOutput:hover {
  cursor: default;
}

#display {
  width: 100%;
  padding: 0;
}

#befungeDisplay {
  height: 200px;
  resize: vertical;
}

#befungeStack {
  height: 60px;
  line-height: 30px;
  margin: 10px 0;
  resize: vertical;
}

#befungeOutput {
  height: 400px;
  overflow-x: scroll;
  resize: vertical;
}

input[type="number"] {
    width: 40px;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.commandTable tr th, .commandTable tr td {
  border-style: solid;
  border-width: thin;
}

.commandTable tr td {
  padding: 5px;
}

.commandTable tr th {
  font-weight: normal;
  padding: 10px;
  background-color: lightgray;
}

.commandTable {
  border-collapse: collapse;
  width: 100%;
}

h4 {
  text-align: center;
  font-weight: normal;
}

#buttonTable {
  width: 100%;
  table-layout: fixed;
}

#buttonTable tr td {
  text-align: center;
}

#exampleTable {
  width: 100%;
}

#exampleTable tr td {
  font-size: 12pt;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 12pt;
  line-height: normal;
  font-family: system-ui;
  outline: none;
  padding: 8px 0;
  text-align: center;
  width: 20%;
  background-color: #CD5454;
  overflow: hidden;
}

#exampleTable tr td:hover {
  cursor: pointer;
}

span.borderedChar {
    display: inline-block;
    /* float: left; */
    outline: 1px solid black;
    outline-offset: -1px;
}
