/*!*************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/index.scss ***!
  \*************************************************************************************************************************************/
html,
body {
  font-family: "Courier New", Courier, monospace;
  background: #fff;
  color: #333;
}
