h1.title {
  font-size: 32pt;
  text-align: center;
  font-family: "Baskerville";
  font-variant: small-caps;
  font-weight: lighter;
}


#content {
  display: inline-block;
  left: calc(100% / 3 - 100% / 6);
  width: calc(100% * 2 / 3);
  font-family: "Times New Roman";
  font-weight: normal;
}

body {
  background-color: #FFF0FF;
}

a {
  text-decoration: none;

  &:link, &:active {
    color: #1042EC;
  }
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: purple;
  }

  &.sidebarlink {
    color: black;
    text-decoration: none;

    &:hover {
      font-weight: bold;
    }
  }
}

#navdiv {
  float: left;
  padding: 0;
  width: calc(100% / 3 - 100% / 6);
  text-align: center;
}

ul {
  &.sidebarlist {
    list-style-type: none;
    padding: 0;

    li a p {
      margin: 16px 0;
    }
  }
}

img#portrait {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  float: left;
}

p{
  &.code {
  background-color: black;
  color: white;
  font-family: monospace;
  }
  &.centered {
    text-align: center;
  }
}

span{
  &.code {
    background-color: black;
    color: limegreen;
    font-family: monospace;
    padding: 0 3px;
  }

  &.red {
    color: red;
  }
  &.blue {
    color: blue;
  }
}

#problemPage {
  counter-reset: probCounter;
}

ol {
  &#problems {
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    li {
      margin: 1em 0;
      p {
        margin: 0.5em 0;
        //text-indent: 2em;
      }
    }
  }
}

#schemeCode {
  border-width: thin;
  outline: none;
  font-family: monospace, monospace;
  font-kerning: none;
}
