@import "./index.scss";

$button-padding-vertical: 0.5em;
$button-padding-horizontal: 1em;

button {
	font-size: 12pt;
	outline: none;
	padding: $button-padding-vertical $button-padding-horizontal;
	text-align: center;
	border-radius: 20px;
	border: 0;

	&:hover {
		cursor: pointer;
	}

	&#run {
		background-color: #66e2b3;
	}
	&#displayButton {
		background-color: #dea3ff;
	}
	&#pause {
		background-color: #fabdfc;
	}
	&#step {
		background-color: #ffc268;
	}
}

div.button_container {
	padding: 0.5em;
	float: left;
}

div.options_container {
	padding: $button-padding-vertical + 0.5em $button-padding-horizontal;
	float: left;
}

input#pauseInterval {
	width: 4em;
	outline: none;
	// border: none;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

span {
	&.bordered_char {
		display: inline-block;
		outline: 1px solid black;
		outline-offset: -1px;
	}
	&.bordered_char_darkmode {
		display: inline-block;
		outline: 1px solid white;
		outline-offset: -1px;
	}
	&.right_aligned {
		float: right;
		text-align: right;
	}
}

div#befungeCodeWrapper,
div#display,
div#output {
	width: 100%;
}

@mixin codeFormatting() {
	font-size: 12pt;
	border: thin solid black;
	outline: none;
	width: -webkit-fill-available;
	width: -moz-available;
	white-space: pre;
	overflow: auto;
	resize: vertical;
	font-family: monospace, monospace;
	font-kerning: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

// Input
textarea {
	@include codeFormatting();
	margin-left: auto;
	margin-right: auto;
}

// State, stack, and output
.code_output {
	@include codeFormatting();
	margin-left: 0;
	margin-right: 0;
	padding: 0 0;
	background-color: white;
	&:hover {
		cursor: default;
	}
}

// For wrapping output
.word_wrap {
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
}

#befungeOutput {
	height: 400px;
	width: 100%;
}

div#display {
	width: 100%;
	padding: 0;

	#befungeState {
		height: 200px;
	}

	#befungeStack {
		height: 60px;
		line-height: 30px;
		border-top: 0;
	}
}

div#chevronContainer {
	height: 18px;
}

button#examplesButton {
	width: max-content;
	cursor: pointer;
	border: 1px solid grey;
	background-color: white;
	padding: 0.3em 1em;
}

@mixin examplesSection() {
	left: 0;
	top: 0;
	margin: $page-margin;
	float: left;
	z-index: 100;
}

.examples_collapsed {
	@include examplesSection();
}

.examples_expanded {
	@include examplesSection();
	width: -webkit-fill-available;
	width: -moz-available;
}

.max_content {
	width: max-content;
}
