@use "sass:math";

$page-margin: 15px;
$border-radius: 10px;

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin: 0;
}

body {
	padding: 1%;
	background-color: #d3eded;
}

p {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

div.p {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

div.title {
	font-size: 32pt;
	text-align: center;
	font-variant: small-caps;
	font-weight: 250;
	margin: $page-margin;
	margin-top: 0;
	padding-top: $page-margin;
}

.card {
	background-color: white;
	min-height: 20px;
	border-radius: $border-radius;
	margin: $page-margin;
	margin-bottom: 10px;
	overflow: hidden;
	float: none;
}

.inner_card {
	width: calc(100% - 20px);
	padding: 10px;
	overflow-x: auto;
}

// KaTeX override to make the font slightly smaller
.katex {
	text-rendering: auto;
	font: normal 1.1em KaTeX_Main, Times New Roman, serif;
	line-height: 1.2;
	text-indent: 0;
}

// If the math goes off the screen allow scrolling
.katex-display {
	overflow-x: auto;
	overflow-y: hidden;
	// Need to add some padding so the scrollbar doesn't cover the text
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

picture > img {
	max-width: 100%;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.fit_content {
	width: fit-content;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

/**
 * Menu Styling
 */
$menu-collapsed-size: 50px;
$menu-inner-side-margin: $menu-collapsed-size * 0.2;
$menu-inner-top-margin: $menu-collapsed-size * 0.1;
$menu-inner-button-height: $menu-collapsed-size - 2 * $menu-inner-top-margin;

@mixin menu() {
	left: 0;
	top: 0;
	background-color: #fff;
	margin: $page-margin;
	border-radius: $border-radius;
	float: left;
	z-index: 100;
}

.menu_collapsed {
	@include menu();
	width: $menu-collapsed-size;
	height: $menu-collapsed-size;
	cursor: pointer;
}

.menu_expanded {
	@include menu();
	width: auto;
	height: auto;
	margin-bottom: math.div($page-margin, 2);
	overflow-x: hidden;

	@media only screen and (max-aspect-ratio: 2/3) {
		width: -webkit-fill-available;
		width: -moz-available;
	}
}

.menu_button {
	@include menu();
	width: $menu-collapsed-size;
	height: $menu-collapsed-size;
	margin: 0;
	cursor: pointer;
	float: left;
}

.menu_button_inner {
	margin: $menu-inner-side-margin;
	margin-top: $menu-inner-top-margin;
	margin-bottom: $menu-inner-top-margin;
	width: $menu-collapsed-size - 2 * $menu-inner-side-margin;
	border-top-color: #fff;
	border-top-style: solid;
	border-top-width: math.div($menu-inner-button-height, 7);
	height: math.div($menu-inner-button-height * 6, 7);
}

.menu_button_line {
	width: 100%;
	height: math.div($menu-inner-button-height, 7);
	margin-bottom: math.div($menu-inner-button-height, 7);
	background-color: black;
}

a.menu_item {
	color: black;
	text-decoration: none;

	&:hover {
		font-weight: bold;
	}
}

ul.menu_list {
	list-style-type: none;
	padding: 0;
	margin-bottom: $menu-inner-side-margin;
	text-align: center;
	width: 8em;
	@media only screen and (min-aspect-ratio: 2/3) {
		margin-top: $menu-collapsed-size + math.div($menu-inner-button-height, 7);
	}

	& > li > a > p {
		margin: 16px 0;
	}
}

ul.math_list > li {
	padding-bottom: 0.5em;
	list-style-type: circle;
}

.inline_code {
	font-family: "Courier New", monospace;
	padding: 1px 1px;
}

textarea.codeblock {
	font-family: "Courier New", monospace;
	width: 100%;
	resize: none;
}

span {
	&.red {
		color: red;
	}
	&.blue {
		color: blue;
	}
}

.hidden {
	visibility: hidden;
}

.command_table {
	border-collapse: collapse;
	width: 100%;

	th,
	td {
		border-style: solid;
		border-width: thin;
	}

	th {
		font-weight: normal;
		padding: 10px;
		background-color: lightgray;
	}

	td {
		padding: 0.5em;
	}
}

.subsection {
	font-size: 1em;
}

.nodisp {
	display: none;
}

.upsidedown {
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}

.float_left {
	float: left;
}

canvas.full_canvas {
	width: 100%;
	height: 100%;
}

.nopadding {
	padding: 0;
}

.list_no_style {
	list-style-type: none;
}
