html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: #d3eded;
}

h1.title {
	font-size: 32pt;
	text-align: center;
	font-variant: small-caps;
	font-weight: lighter;
}

.card {
	background-color: white;
	width: calc(100% - 30px);
	min-height: 20px;
	border-radius: 10px;
	margin: 15px;
	margin-bottom: 10px;
	overflow: hidden;
}

.inner_card {
	width: calc(100% - 20px);
	padding: 10px;
}

.katex {
	text-rendering: auto;
	font: normal 1.1em KaTeX_Main, Times New Roman, serif;
	line-height: 1.2;
	text-indent: 0;
}

picture > img {
	max-width: 100%;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
